<div class="container py-4">
  <a class="btn-back" type="button" (click)="back()">← Torna Indietro</a>
  <h2 class="text-center mb-4">
    {{
      tenantService.isEmmeci ? "Nuovo Cliente Trasloco" : "Preventivo Cliente"
    }}
  </h2>

  <form #form="ngForm">
    <ng-container *ngIf="tenantService.isSami">
      <div class="row g-3">
        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tipo del cliente</mat-label>
            <mat-select
              name="tipoCliente"
              [(ngModel)]="customerModelService.tipoCliente"
            >
              <mat-option value="O">Ordinario</mat-option>
              <mat-option value="S">Straordinario</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Nominativo</mat-label>
            <input
              matInput
              name="nominativo"
              [(ngModel)]="customerModelService.nominativo"
            />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Codice Fiscale / P.IVA</mat-label>
            <input
              matInput
              name="cfpi"
              [(ngModel)]="customerModelService.cfpi"
            />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Città di fatturazione</mat-label>
            <input
              matInput
              name="cittaDiFatturazione"
              [(ngModel)]="customerModelService.cittaDiFatturazione"
            />
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Prefisso via di fatturazione</mat-label>
            <mat-select
              name="selettorePrefissoViaDiFatturazione"
              [(ngModel)]="
                customerModelService.selettorePrefissoViaDiFatturazione
              "
            >
              <mat-option value="VIA">VIA</mat-option>
              <mat-option value="STRADA">STRADA</mat-option>
              <mat-option value="VIALE">VIALE</mat-option>
              <mat-option value="PIAZZA">PIAZZA</mat-option>
              <mat-option value="CONTRADA">CONTRADA</mat-option>
              <mat-option value="CORSO">CORSO</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-5">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Via di fatturazione</mat-label>
            <input
              matInput
              name="viaDiFatturazione"
              [(ngModel)]="customerModelService.viaDiFatturazione"
            />
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>CAP di fatturazione</mat-label>
            <input
              matInput
              name="capDiFatturazione"
              [(ngModel)]="customerModelService.capDiFatturazione"
            />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Città</mat-label>
            <input
              matInput
              name="citta"
              [(ngModel)]="customerModelService.citta"
            />
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Selettore prefisso via</mat-label>
            <mat-select
              name="selettorePrefissoVia"
              [(ngModel)]="customerModelService.selettorePrefissoVia"
            >
              <mat-option value="VIA">VIA</mat-option>
              <mat-option value="STRADA">STRADA</mat-option>
              <mat-option value="VIALE">VIALE</mat-option>
              <mat-option value="PIAZZA">PIAZZA</mat-option>
              <mat-option value="CONTRADA">CONTRADA</mat-option>
              <mat-option value="CORSO">CORSO</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-5">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Via</mat-label>
            <input matInput name="via" [(ngModel)]="customerModelService.via" />
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>CAP</mat-label>
            <input matInput name="cap" [(ngModel)]="customerModelService.cap" />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              name="email"
              [(ngModel)]="customerModelService.email"
            />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Telefono</mat-label>
            <input
              matInput
              name="telefono"
              [(ngModel)]="customerModelService.telefono"
            />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Referente</mat-label>
            <input
              matInput
              name="referente"
              [(ngModel)]="customerModelService.referente"
            />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Descrizione immobile</mat-label>
            <input
              matInput
              name="descrizioneImmobile"
              [(ngModel)]="customerModelService.descrizioneImmobile"
            />
          </mat-form-field>
        </div>

        <ng-container *ngFor="let x of [].constructor(14); let i = index">
          <div class="col-md-6">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Servizio {{ i + 1 }}</mat-label>
              <input
                matInput
                [name]="'servizi' + i"
                [(ngModel)]="customerModelService.servizi[i]"
              />
            </mat-form-field>
          </div>

          <div
            class="col-md-6"
            *ngIf="customerModelService.tipoCliente === 'O'"
          >
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Intervento {{ i + 1 }}</mat-label>
              <mat-select
                [name]="'interventi' + i"
                [(ngModel)]="customerModelService.interventi[i]"
              >
                <mat-option value="G">G</mat-option>
                <mat-option value="1S">1S</mat-option>
                <mat-option value="2S">2S</mat-option>
                <mat-option value="3S">3S</mat-option>
                <mat-option value="4S">4S</mat-option>
                <mat-option value="Q">Q</mat-option>
                <mat-option value="1M">1M</mat-option>
                <mat-option value="2M">2M</mat-option>
                <mat-option value="3M">3M</mat-option>
                <mat-option value="4M">4M</mat-option>
                <mat-option value="TM">TM</mat-option>
                <mat-option value="SM">SM</mat-option>
                <mat-option value="A">A</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </ng-container>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Imponibile</mat-label>
            <input
              matInput
              name="imponibile"
              [(ngModel)]="customerModelService.imponibile"
            />
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>IVA</mat-label>
            <mat-select name="iva" [(ngModel)]="customerModelService.iva">
              <mat-option value="N">N</mat-option>
              <mat-option value="RC">RC</mat-option>
              <mat-option value="SP">SP</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Pagamento</mat-label>
            <mat-select
              name="pagamento"
              [(ngModel)]="customerModelService.pagamento"
            >
              <mat-option value="C">Contanti</mat-option>
              <mat-option value="B">Bonifico</mat-option>
              <mat-option value="E">Elettronico</mat-option>
              <mat-option value="">Altro</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Note</mat-label>
            <input
              matInput
              name="note"
              [(ngModel)]="customerModelService.note"
            />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Chiavi</mat-label>
            <mat-select [(ngModel)]="customerModelService.key" name="key">
              <mat-option [value]="true">Sì</mat-option>
              <mat-option [value]="false">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tempistica per il pagamento</mat-label>
            <input
              matInput
              name="tempistica"
              [(ngModel)]="customerModelService.tempistica"
            />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Numero operatori</mat-label>
            <input
              matInput
              name="nOperatori"
              [(ngModel)]="customerModelService.nOperatori"
            />
          </mat-form-field>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="tenantService.isEmmeci">
      <div class="row g-3">
        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Data</mat-label>
            <input
              matInput
              name="data"
              [(ngModel)]="customerModelService.data"
            />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Nominativo</mat-label>
            <input
              matInput
              name="nominativo"
              [(ngModel)]="customerModelService.nominativo"
            />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Ragione sociale</mat-label>
            <input
              matInput
              name="ragSociale"
              [(ngModel)]="customerModelService.ragSociale"
            />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Codice Fiscale / P.IVA</mat-label>
            <input
              matInput
              name="cfpi"
              [(ngModel)]="customerModelService.cfpi"
            />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              name="email"
              [(ngModel)]="customerModelService.email"
            />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Telefono</mat-label>
            <input
              matInput
              name="telefono"
              [(ngModel)]="customerModelService.telefono"
            />
          </mat-form-field>
        </div>

        <div class="col-12 mt-3">
          <h4>Partenza</h4>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Città di partenza</mat-label>
            <input
              matInput
              name="cittaDiPartenza"
              [(ngModel)]="customerModelService.cittaDiPartenza"
            />
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Prefisso via di partenza</mat-label>
            <input
              matInput
              name="selettorePrefissoViaDiPartenza"
              [(ngModel)]="customerModelService.selettorePrefissoViaDiPartenza"
            />
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Via di partenza</mat-label>
            <input
              matInput
              name="viaDiPartenza"
              [(ngModel)]="customerModelService.viaDiPartenza"
            />
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Piano di partenza</mat-label>
            <input
              matInput
              name="pianoDiPartenza"
              [(ngModel)]="customerModelService.pianoDiPartenza"
            />
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>OSP partenza</mat-label>
            <input
              matInput
              name="occupazioneSuoloPubblicoDiPartenza"
              [(ngModel)]="
                customerModelService.occupazioneSuoloPubblicoDiPartenza
              "
            />
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>CAP di partenza</mat-label>
            <input
              matInput
              name="capDiPartenza"
              [(ngModel)]="customerModelService.capDiPartenza"
            />
          </mat-form-field>
        </div>

        <div class="col-12 mt-3">
          <h4>Arrivo</h4>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Città di arrivo</mat-label>
            <input
              matInput
              name="cittaDiArrivo"
              [(ngModel)]="customerModelService.cittaDiArrivo"
            />
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Prefisso via di arrivo</mat-label>
            <input
              matInput
              name="selettorePrefissoViaDiArrivo"
              [(ngModel)]="customerModelService.selettorePrefissoViaDiArrivo"
            />
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Via di arrivo</mat-label>
            <input
              matInput
              name="viaDiArrivo"
              [(ngModel)]="customerModelService.viaDiArrivo"
            />
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Piano di arrivo</mat-label>
            <input
              matInput
              name="pianoDiArrivo"
              [(ngModel)]="customerModelService.pianoDiArrivo"
            />
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>OSP arrivo</mat-label>
            <input
              matInput
              name="occupazioneSuoloPubblicoDiArrivo"
              [(ngModel)]="
                customerModelService.occupazioneSuoloPubblicoDiArrivo
              "
            />
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>CAP di arrivo</mat-label>
            <input
              matInput
              name="capDiArrivo"
              [(ngModel)]="customerModelService.capDiArrivo"
            />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Altre destinazioni</mat-label>
            <input
              matInput
              name="altreDestinazioni"
              [(ngModel)]="customerModelService.altreDestinazioni"
            />
          </mat-form-field>
        </div>

        <div class="col-12">
          <h5>Stanze e oggetti</h5>
        </div>

        <div class="col-md-4">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Seleziona stanza</mat-label>
            <mat-select [(ngModel)]="stanzaSelezionata" name="stanzaSelezionata">
              <mat-option *ngFor="let stanza of nomiStanze" [value]="stanza">
                {{ stanza }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="aggiungiCampoStanza()"
          >
            Aggiungi stanza
          </button>
        </div>

        <div class="col-12">
          <div
            *ngFor="let stanza of stanzeEOggettiList; let i = index"
            class="border rounded p-3 mb-3 bg-white"
          >
            <div
              class="d-flex justify-content-between align-items-center mb-2 text-black"
            >
              <h6 class="mb-0">{{ stanza.stanza }}</h6>

              <button
                mat-icon-button
                color="warn"
                type="button"
                (click)="rimuoviStanzaEOggetti(i)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>

            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Oggetti</mat-label>
              <input
                matInput
                [(ngModel)]="stanza.oggetti"
                [name]="'oggettiAdd' + i"
                placeholder="Es: Divano, Letto, Tavolo"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="col-12 mt-3">
          <h4>Servizi</h4>
        </div>

        <div class="col-md-4">
          <mat-checkbox
            name="lampadari"
            [(ngModel)]="customerModelService.lampadari"
            >Lampadari</mat-checkbox
          >
        </div>
        <div class="col-md-4">
          <mat-checkbox
            name="imballaggio"
            [(ngModel)]="customerModelService.imballaggio"
            >Imballaggio</mat-checkbox
          >
        </div>
        <div class="col-md-4">
          <mat-checkbox
            name="smaltimentoMaterialiDiRisulta"
            [(ngModel)]="customerModelService.smaltimentoMaterialiDiRisulta"
            >Smaltimento materiali</mat-checkbox
          >
        </div>
        <div class="col-md-4">
          <mat-checkbox
            name="riposizionamentoContenutiDegliArredi"
            [(ngModel)]="
              customerModelService.riposizionamentoContenutiDegliArredi
            "
            >Riposizionamento contenuti</mat-checkbox
          >
        </div>
        <div class="col-md-4">
          <mat-checkbox
            name="smontaggioEImballaggioDegliArredi"
            [(ngModel)]="customerModelService.smontaggioEImballaggioDegliArredi"
            >Smontaggio e imballaggio arredi</mat-checkbox
          >
        </div>
        <div class="col-md-4">
          <mat-checkbox
            name="caricoSuNostroMezzoIdoneo"
            [(ngModel)]="customerModelService.caricoSuNostroMezzoIdoneo"
            >Carico su nostro mezzo</mat-checkbox
          >
        </div>
        <div class="col-md-4">
          <mat-checkbox
            name="trasporto"
            [(ngModel)]="customerModelService.trasporto"
            >Trasporto</mat-checkbox
          >
        </div>
        <div class="col-md-4">
          <mat-checkbox
            name="scaricoEConsegnaAlPiano"
            [(ngModel)]="customerModelService.scaricoEConsegnaAlPiano"
            >Scarico e consegna al piano</mat-checkbox
          >
        </div>
        <div class="col-md-4">
          <mat-checkbox
            name="montaggioDegliArredi"
            [(ngModel)]="customerModelService.montaggioDegliArredi"
            >Montaggio arredi</mat-checkbox
          >
        </div>
        <div class="col-md-4">
          <mat-checkbox
            name="ausilioDiElevatoreEsternoOvePossibile"
            [(ngModel)]="
              customerModelService.ausilioDiElevatoreEsternoOvePossibile
            "
            >Elevatore esterno</mat-checkbox
          >
        </div>
        <div class="col-md-4">
          <mat-checkbox
            name="assicurazioneControIRischiDiTrasporto"
            [(ngModel)]="
              customerModelService.assicurazioneControIRischiDiTrasporto
            "
            >Assicurazione trasporto</mat-checkbox
          >
        </div>
        <div class="col-md-4">
          <mat-checkbox
            name="fornituraMaterialiDaImballo"
            [(ngModel)]="customerModelService.fornituraMaterialiDaImballo"
            >Fornitura materiali da imballo</mat-checkbox
          >
        </div>
        <div class="col-md-4">
          <mat-checkbox
            name="imballaggioDeiContenuti"
            [(ngModel)]="customerModelService.imballaggioDeiContenuti"
            >Imballaggio contenuti</mat-checkbox
          >
        </div>
        <div class="col-md-4">
          <mat-checkbox
            name="custodiaInDeposito"
            [(ngModel)]="customerModelService.custodiaInDeposito"
            >Custodia in deposito</mat-checkbox
          >
        </div>
        <div class="col-md-4">
          <mat-checkbox
            name="ospCarico"
            [(ngModel)]="customerModelService.ospCarico"
            >OSP carico</mat-checkbox
          >
        </div>
        <div class="col-md-4">
          <mat-checkbox
            name="ospScarico"
            [(ngModel)]="customerModelService.ospScarico"
            >OSP scarico</mat-checkbox
          >
        </div>

        <div class="col-12 mt-3">
          <h4>Prezzi</h4>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill"
            ><mat-label>Prezzo trasloco</mat-label
            ><input
              matInput
              type="number"
              name="prezzoTrasloco"
              [(ngModel)]="customerModelService.prezzoTrasloco"
          /></mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill"
            ><mat-label>Prezzo fornitura materiali</mat-label
            ><input
              matInput
              type="number"
              name="prezzoFornituraMaterialiDaImballo"
              [(ngModel)]="
                customerModelService.prezzoFornituraMaterialiDaImballo
              "
          /></mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill"
            ><mat-label>Prezzo imballaggio contenuti</mat-label
            ><input
              matInput
              type="number"
              name="prezzoImballaggioDeiContenuti"
              [(ngModel)]="customerModelService.prezzoImballaggioDeiContenuti"
          /></mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill"
            ><mat-label>Prezzo passaggio deposito</mat-label
            ><input
              matInput
              type="number"
              name="prezzoPassaggioInDeposito"
              [(ngModel)]="customerModelService.prezzoPassaggioInDeposito"
          /></mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill"
            ><mat-label>Prezzo OSP</mat-label
            ><input
              matInput
              type="number"
              name="prezzoOccupazioneSuoloPubblico"
              [(ngModel)]="customerModelService.prezzoOccupazioneSuoloPubblico"
          /></mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill"
            ><mat-label>Prezzo mensile custodia mobili</mat-label
            ><input
              matInput
              type="number"
              name="prezzoMensileCustodiaMobili"
              [(ngModel)]="customerModelService.prezzoMensileCustodiaMobili"
          /></mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Pagamento</mat-label>
            <mat-select
              name="pagamento"
              [(ngModel)]="customerModelService.pagamento"
            >
              <mat-option value="C">Contanti</mat-option>
              <mat-option value="B">Bonifico</mat-option>
              <mat-option value="E">Elettronico</mat-option>
              <mat-option value="A">Assegno</mat-option>
              <mat-option value=""></mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tempistica</mat-label>
            <input
              matInput
              name="tempistica"
              [(ngModel)]="customerModelService.tempistica"
            />
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Numero operatori</mat-label>
            <input
              matInput
              name="nOperatori"
              [(ngModel)]="customerModelService.nOperatori"
            />
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Note</mat-label>
            <textarea
              matInput
              rows="3"
              name="note"
              [(ngModel)]="customerModelService.note"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    </ng-container>

    <div class="col-12 text-center mt-4">
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="addCustomer()"
      >
        Salva
      </button>
    </div>
  </form>
</div>
