<div class="container py-4">
  <div class="d-flex justify-content-start align-items-center mb-3">
    <button class="btn btn-outline-primary rounded-pill" (click)="back()">
      ⬅ Torna Indietro
    </button>
  </div>

  <h2 class="text-center mb-4">Gestione Amministratori</h2>

  <div class="admin-list mb-5">
    <mat-card *ngFor="let admin of admins; let i = index" class="admin-card">
      <mat-card-content>
        <div class="admin-details mb-3">
          <p><strong>Nome:</strong> {{admin.nome}}</p>
          <p><strong>Cognome:</strong> {{admin.cognome}}</p>
          <p><strong>Email:</strong> {{admin.email}}</p>
          <p><strong>Codice Operatore:</strong> {{admin.codiceOperatore}}</p>
          <p><strong>Ruolo:</strong> {{admin.admin}}</p>
        </div>
        <button mat-raised-button color="warn" (click)="deleteAdmin(i)">Elimina</button>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="admin-form">
    <mat-card>
      <mat-card-title>Aggiungi Nuovo Admin</mat-card-title>
      <mat-card-content>
        <form class="add-admin-form">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="adminAdd.nome" name="nome" pattern="[\D ]+">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Cognome</mat-label>
            <input matInput [(ngModel)]="adminAdd.cognome" name="cognome" pattern="[\D ]+">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="adminAdd.email" name="email" pattern="\w+@\w+\.\D{2,}">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Codice operatore</mat-label>
            <input matInput [(ngModel)]="adminAdd.codiceOperatore" name="codiceOperatore" pattern="[A-Z][A-Z]|[0-9][0-9]">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Admin</mat-label>
            <mat-select [(ngModel)]="adminAdd.admin" name="admin">
              <mat-option value="S">Super admin</mat-option>
              <mat-option value="A">Admin</mat-option>
              <mat-option value="B">Base</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="addAdmin()">Aggiungi</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

