.list-group-item.border-success {
  border-left: 5px solid #28a745 !important;
  background-color: #f7fff9 !important;
}

.key-icon {
  cursor: pointer;
  font-size: 1.3rem;
}

input[type="checkbox"] {
  cursor: pointer;
  transform: scale(1.2);
}
