<div class="container mt-4">
  <h2>Gestione Turni</h2>

  <div class="d-flex justify-content-between align-items-center mb-3">
    <button (click)="prevDay()" class="btn btn-secondary">&larr;</button>
    <h4>{{ selectedDate | date: 'fullDate' }}</h4>
    <button (click)="nextDay()" class="btn btn-secondary">&rarr;</button>
  </div>

  <button class="btn btn-success mb-3" (click)="createShifts()">Crea turni</button>

  <div *ngIf="shifts.length === 0" class="alert alert-info">
    Nessun turno presente per il giorno selezionato.
  </div>

  <ul class="list-group" *ngIf="shifts.length > 0">
    <div *ngFor="let empName of groupedKeys()">
      <h4>{{ empName.toUpperCase() }} – {{ selectedDate | date: 'EEEE d MMMM y':'':'it-IT' | uppercase }}</h4>
      <ul>
        <li *ngFor="let turno of groupedByEmployee[empName]">
          {{ turno.title }} — {{ turno.start | date: 'HH:mm' }} - {{ turno.end | date: 'HH:mm' }}
        </li>
      </ul>
    </div>

  </ul>
</div>
