<div class="indietro">
  <button mat-raised-button color="accent" class="btn-back" (click)="back()">Torna Indietro</button>
</div>

<div class="change-password-container">
  <h2>Ricordati di segnarti la password</h2>
  <form class="change-password-form">
    <mat-form-field appearance="outline">
      <mat-label>Nuova Password</mat-label>
      <input matInput type="password" #password >
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="changePassword(password.value)">Cambia Password</button>
  </form>
</div>

<style>
  .indietro {
      position: absolute;
      top: 20px;
      left: 20px;
  }

  .btn-back {
      background-color: #ff4081;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease, transform 0.3s ease;
      cursor: pointer;
  }

  .btn-back:hover {
      background-color: #e91e63;
      transform: scale(1.05);
  }

  .btn-back:active {
      background-color: #c2185b;
      transform: scale(0.95);
  }

  .change-password-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 100px; /* Adjust to ensure the back button doesn't overlap */
  }

  .change-password-container h2 {
      font-weight: bold;
      margin-bottom: 20px;
  }

  .change-password-form {
      display: flex;
      flex-direction: column;
      width: 300px;
  }

  .change-password-form mat-form-field {
      margin-bottom: 20px;
  }

  .change-password-form button {
      align-self: center;
  }
</style>
