.parent-container {
  display: flex;
  flex-direction: column;
}

.services-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* Per gestire il wrapping degli elementi */
}

.service-container {

  flex-direction: column;
  align-items: center; /* Allinea verticalmente il contenuto */
  margin-right: 20px; /* Margine tra i servizi */
  margin-bottom: 10px; /* Margine inferiore */
}

.interventions-container {
  margin-top: 20px; /* Spazio tra i servizi e gli interventi */
}

.intervention-container {
  margin-bottom: 10px; /* Margine tra gli interventi */
}
.mat-raised-button {
  display: flex;
  flex-direction: column;
}
