
<mat-toolbar class="example-toolbar">
  <span>Gestione Clienti</span>
  <span class="example-spacer"></span>
  <button (click)="navigateToAddQuote()" mat-icon-button class="example-icon">
    <mat-icon>add</mat-icon>
  </button>

  <div class="example-spacer">
    <mat-form-field class="example-form-field">
      <mat-label>Numero cliente</mat-label>
      <input #inputNumeroCliente matInput (input)="searchNumeroPreventivo(inputNumeroCliente.value)" />
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Nominativo</mat-label>
      <input #inputNominativo matInput (input)="searchNominativo(inputNominativo.value)" />
    </mat-form-field>

    <div *ngIf="quotesFrEnd.length > 0"></div>
  </div>
</mat-toolbar>

<app-quote-list-prw [color] = "color"></app-quote-list-prw>
<div class="quote-list">
<mat-list role="list">
  <mat-list-item *ngFor="let quote of quotesFrEnd" role="listitem">
    <button mat-raised-button (click)="changePdf(quote.numeroPreventivo)">
      {{ quote.numeroPreventivo }}  {{quote.nominativo}}
    </button>
    <button mat-raised-button (click)="navigateToEditQuote(quote.numeroPreventivo)">
      <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
    </button>
    <button mat-raised-button (click)="delete(quote.numeroPreventivo)">
      <mat-icon aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
    </button>

    <button mat-raised-button (click)="invio(quote.numeroPreventivo)">
      <mat-icon aria-hidden="false" aria-label="Example conferma icon">send</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
</div>
