.parent-container {
    display: table-column;
    flex-direction: row;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px; /* Adds space between the two containers */
  }
  
  .container h1 {
    margin: 0 10px;
  }
  
  .container button {
    margin: 0 10px;
  }
  