mat-drawer-container {
    background-color: #ffffff; /* Rosa chiaro */
    color: #f8f8f8; /* Rosa scuro */
    padding: 10px;
  }
  
  mat-slide-toggle.mat-primary {
    color: #d712ff; /* Rosa scuro */
  }
  
  button.mat-raised-button {
    background-color: #ffffff; /* Rosa scuro */
    color: #ffffff; /* Bianco */
    margin: 10px 0;
  }
  
  .ngx-extended-pdf-viewer {
    position: absolute; /* Posiziona il PDF in alto alla pagina */
    top: 100px;
    left: 140px;
    width: 100%; /* Fai occupare al PDF l'intera larghezza */
    height: 100%; /* Fai occupare al PDF l'intera altezza della viewport */
    border: 1px solid #ffffff; /* Rosa scuro */
    margin-top: 50px;
    right: 60px;
  }
  .example-spacer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    border-bottom: 1px solid #ffffff; /* Aggiunge una linea sotto il contenuto */
  }
  
  .example-form-field {
    margin-right: 10px;
    margin-top: 10px;
  }
  
  





  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  .main-container {
    padding: 30px;
  }
  
  /* HEADING */
  
  .heading {
    text-align: center;
  }
  
  .heading__title {
    font-weight: 600;
  }
  
  .heading__credits {
    margin: 10px 0px;
    color: #888888;
    font-size: 25px;
    transition: all 0.5s;
  }
  
  .heading__link {
    text-decoration: none;
  }
  
  .heading__credits .heading__link {
    color: inherit;
  }
  
  /* CARDS */
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card__link,
  .card__exit,
  .card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }
  
  .card__link:hover::after {
    width: 100%;
  }
  
  .card__exit {
    grid-row: 1/2;
    justify-self: end;
  }
  
  .card__icon {
    grid-row: 2/3;
    font-size: 30px;
  }
  
  .card__title {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
  }
  
  .card__apply {
    grid-row: 4/5;
    align-self: center;
  }
  
  /* CARD BACKGROUNDS */
  
  .card-1 {
    background: radial-gradient(#ff05ff, #ff03ff);
  }
  
  .card-2 {
    background: radial-gradient(#fbc1cc, #fa99b2);
  }
  
  .card-3 {
    background: radial-gradient(#76b2fe, #b69efe);
  }
  
  .card-4 {
    background: radial-gradient(#60efbc, #58d5c9);
  }
  
  .card-5 {
    background: radial-gradient(#f588d8, #c0a3e5);
  }
  














  
  @media (max-width: 600px) {
    .quote-list, .pdf-viewer {
      display: block; /* Gli elementi sono disposti uno sopra l'altro */
      width: 100%; /* Ogni elemento occupa l'intera larghezza */
    }
    .ngx-extended-pdf-viewer {
  
      top: 700px;
      left: 140px;
      width: 100%; /* Fai occupare al PDF l'intera larghezza */
      height: 100%; /* Fai occupare al PDF l'intera altezza della viewport */
      border: 1px solid #ffffff; /* Rosa scuro */
    }
  }
  