/* homesito.component.css */
body {
  background: url('/assets/Tavola\ da\ disegno\ 1.png'); /* Specifica il percorso della tua immagine */
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-size: cover;
  margin-top: 20px;
  animation: fadeIn 2s ease-in-out;
  text-decoration: none;
  height: 700px;
  margin-top: 90px
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.navbar {
  position: fixed; /* Rende la navbar fissa */
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 182, 193, 0.8); /* Rosa traslucido iniziale */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

}



/* Stile per il menu a tendina "contatti" */
.menu-item.contatti {
  position: relative;

}

.menu-item.contatti  a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;

}

.menu-item.contatti > a:hover {
  background-color: rgba(255, 105, 180, 0.8); /* Rosa più scuro */

}

.menu-item.contatti .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 182, 193, 0.9); /* Rosa traslucido */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  animation: slideDown 0.3s ease-in-out;
  padding: 10px;
}

.menu-item.contatti:hover .dropdown-content {
  display: block;
}

.menu-item.contatti .dropdown-content a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu-item.contatti .dropdown-content a:hover {
  background-color: rgba(255, 105, 180, 0.8); /* Rosa più scuro */
}

@keyframes slideDown {
  from { transform: translateY(-10px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}



.logo img {
  height: 50px;
}

.menu-toggle-checkbox {
  display: none;
}

.menu-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu-item {
  position: relative;
}

.menu-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu-item a:hover {
  background-color: rgba(255, 105, 180, 0.8); /* Rosa più scuro */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 182, 193, 0.9); /* Rosa traslucido */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  animation: slideDown 0.3s ease-in-out;
}

@keyframes slideDown {
  from { transform: translateY(-10px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.menu-item:hover .dropdown-content {
  display: block;
}

.button {
  background-color: rgba(255, 105, 180, 0.8); /* Rosa più scuro */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: rgba(255, 20, 147, 0.8); /* Rosa ancora più scuro */
  transform: scale(1.05);
}

.buttons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.buttons a {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(255, 105, 180, 0.8); /* Rosa più scuro */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.buttons a:hover {
  background-color: rgba(255, 20, 147, 0.8); /* Rosa ancora più scuro */
  transform: translateY(-2px);
}

.buttons a:active {
  background-color: #ff00ea;
  transform: translateY(0);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.box-content {
  max-width: 900px;
  margin: 0 auto;
}

.titolo {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sottotitolo {
  font-size: 14px;
  margin-bottom: 5px;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.carta {
  flex: 1 1 calc(25% - 40px);
  box-sizing: border-box;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.carta img {
  width: 100%;
  height: auto;
  display: block;
}

.paragrafo-bianco {
  background-color: #fff;
  padding: 10px;
}

.paragrafo {
  text-align: center;
}

.paragrafo a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.carta:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.containers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.carts {
  flex: 1 1 calc(50% - 40px);
  box-sizing: border-box;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 400px;
}

.carts img {
  width: 100%;
  height: auto;
  display: block;
}

.paragrafs-bianco {
  background-color: #fff;
  padding: 10px;
}

.paragrafs {
  text-align: center;
}

.paragrafs a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.carts:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.users{
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 44px;
  height: 44px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  border: #000000 2px solid;
  z-index: 9999;
}
.users i{
  width: 10px;
  height: 10px;
}
.users :hover{
  transform: scale(1.1);
}




.footer-content {
  background-color: #ff00bf;
  padding: 20px;
}

.footer-content-center {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-content-center div {
  flex: 1;
  margin: 10px;
}

.footer-content-center ul {
  list-style-type: none;
  padding: 0;
}

.footer-content-center li {
  margin-bottom: 10px;
}

.footer-content-center a {
  text-decoration: none;
  color: #000000;
}

.footer-fluid {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

.footer-content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-content-bottom .logo img {
  max-width: 150px;
}

.footer-content-bottom .content-creatore {
  margin: 10px 0;
}

.footer-content-bottom .social ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-content-bottom .social li {
  margin: 0 10px;
}

.footer-content-bottom .social a {
  color: #333;
  font-size: 24px;
}
.footer-content a:hover{
  opacity: 1;
  text-decoration: underline;
  text-transform: uppercase;
}
.footer-content-center li:nth-of-type(1) a {
  font-size: 18px;
  text-transform: uppercase;
  pointer-events: none;
 opacity: 1;
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.user .fa-whatsapp {
  font-size: 24px;
  margin-right: 10px;
}

.user .box-user {
  background-color: #25d366;
  color: white;
  padding: 10px;
  border-radius: 5px;
}


@media (max-width: 600px) {
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  body {
    background: url('/assets/Tavola\ da\ disegno\ 1.png'); /* Specifica il percorso della tua immagine */
    background-color: pink;
    background-size: 120%;
    height: 35%;
    top: 0;
}
  .menu-toggle {
    display: block;
  }

  .menu-toggle-checkbox:checked + .menu-toggle + .menu {
    display: flex;
  }

  .menu-item {
    width: 100%;
  }

  .menu-item a {
    display: block;
    width: 100%;
    text-align: center;
  }

  .dropdown-content {
    position: static;
    box-shadow: none;
    border-radius: 0;
  }
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .menu {
    display: none;
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
  }

  .menu-item a {
    padding: 15px;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 105, 180, 0.8);
    margin: 2px 0;
  }

  .menu-toggle-checkbox:checked + .menu-toggle + .menu {
    display: flex;
  }

  .menu-item.contatti .dropdown-content {
    display: none;
  }

  /* Bottone Preventivi mobile */
  .button-preventivi {
    top: 150px; /* Distanza dal top */
  }



  .titolo {
    font-size: 20px;
}

.sottotitolo {
    font-size: 16px;
}
  /* Immagini con testo sovrapposto */

  .carta {
    flex: 1 1 calc(100% - 40px);
}
.carts {
  flex: 1 1 100%;
  max-width: 100%;
}

  .footer-content-center {
    flex-direction: column;
    align-items: center;
}

.footer-content-bottom {
    flex-direction: column;
    align-items: center;
}

.footer-content-bottom .logo img {
    max-width: 120px;
}

.footer-content-bottom .social ul {
    flex-direction: column;
}

.footer-content-bottom .social li {
    margin: 5px 0;
}
}
