
<mat-toolbar class="example-toolbar">
  <span>Preventivi</span>
  <span class="example-spacer"></span>
  <button (click)="navigateToAddQuote()" mat-icon-button class="example-icon">
   <mat-icon>add</mat-icon>
 </button>
 <button mat-raised-button (click)="(inputNumeroCliente.value)">Cerca</button>

<div class="example-spacer">
 <mat-form-field class="example-form-field">
   <mat-label>Numero cliente</mat-label>
           <input
             #inputNumeroCliente
             matInput>
 </mat-form-field>
 <div *ngIf="quotesFrEnd.length>0">
</div>

  </div>
</mat-toolbar>


<app-quote-list-prw [color] = "color"></app-quote-list-prw>
<mat-drawer-container class="example-container">
    <mat-list role="list">
      <mat-list-item *ngFor="let quote of quotesFrEnd" role="listitem">
        <button mat-raised-button (click)="changePdf(quote.numeroPreventivo)">
          {{ quote.numeroPreventivo }}  {{quote.nominativo}}
          <button mat-raised-button (click)="navigateToEditQuote(quote.numeroPreventivo)">Modifica</button>
          <button mat-raised-button (click)="delete(quote.numeroPreventivo)">Cancella</button>

        </button></mat-list-item
      >
    </mat-list>
    <mat-drawer-container>



      <ngx-extended-pdf-viewer
      [base64Src]="pdfPrev"
      useBrowserLocale="true"
      backgroundColor="#fffff"
      [showToolbar]="false"
      [height]="'100%'"
      [handTool]="false"
      [showHandToolButton]="false"
      [textLayer]="false"
>
</ngx-extended-pdf-viewer>
