mat-drawer-container {
  background-color: #ffffff; /* Rosa chiaro */
  color: #f8f8f8; /* Rosa scuro */
  padding: 10px;
}

mat-slide-toggle.mat-primary {
  color: #d712ff; /* Rosa scuro */
}

button.mat-raised-button {
  background-color: #ffffff; /* Rosa scuro */
  color: #ffffff; /* Bianco */
  margin: 10px 0;
}

ngx-extended-pdf-viewer {
  border: 1px solid #ff0080; /* Rosa scuro */
}
.example-spacer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  border-bottom: 1px solid #000; /* Aggiunge una linea sotto il contenuto */
}

.example-form-field {
  margin-right: 10px;
  margin-top: 2px;
  padding: auto;
}
.edit-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.edit-icon {
  margin-right: 10px;
}

/* Stili specifici per i dispositivi mobili */
@media (max-width: 600px) {
  mat-drawer-container {
    padding: 5px;
  }


}
