
<mat-toolbar class="example-toolbar">
  <span>Preventivi</span>
  <span class="example-spacer"></span>
  <button (click)="navigateToeditQuote()" mat-icon-button class="example-icon">
    <mat-icon>edit</mat-icon>
  </button>
  <button (click)="navigateToAddQuote()" mat-icon-button class="example-icon">
   <mat-icon>add</mat-icon>
 </button>
</mat-toolbar>

<app-quote-list-prw [color] = "color"></app-quote-list-prw>
<mat-drawer-container class="example-container">
    <mat-list role="list">
      <mat-list-item *ngFor="let quote of quotesFrEnd" role="listitem">
        <button mat-raised-button >
          {{ quote.numeroPreventivo }}
        </button></mat-list-item
      >
    </mat-list>
    <mat-drawer-container>


      <mat-form-field class="example-form-field">
        <mat-label>Numero cliente</mat-label>
                <input
                  #inputNumeroCliente
                  matInput>
        <section>
          <button mat-raised-button (click)="(inputNumeroCliente.value)">Cerca</button>

    <div *ngIf="quotesFrEnd.length>0">


    <button mat-raised-button (click)="deleteQuote()">Cancella il preventivo</button>
    </div>

      <ngx-extended-pdf-viewer
      [base64Src]="pdfPrev"
      backgroundColor="#ffffff"
      [showToolbar]="false"
      [height]="'100%'"
      [useBrowserLocale]="true"
      [handTool]="false"
      [showHandToolButton]="false"
      [textLayer]="false"
    >
    </ngx-extended-pdf-viewer>
    <!-- Remove the closing tag </mat-form-field> -->

