.form-container {
  background-color: pink;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  margin-top: 40px;
}

.form-container .logo {
  text-align: center;
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-container input,
.form-container textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  padding: 10px;
  background-color: #ff69b4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #ff1493;
}

.menu-item {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.menu-item a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff;
  background-color: #3498db;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu-item a:hover {
  background-color: #2980b9;
}

/* Contenitore del Modal */
.modal {
  position: fixed;
  z-index: 1000; /* Assicura che il modal sia in primo piano */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Box del contenuto del Modal */
.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 500px;
  border-radius: 5px;
  position: relative;
}

/* Pulsante di chiusura del Modal */
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}


/* Responsive Styles */
@media (max-width: 768px) {
  .form-container {
    padding: 15px;
    margin: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }}
