<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina di Preventivo - Gestionale Aziendale</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@angular/material/prebuilt-themes/indigo-pink.css">
</head>
<body>
    <form id="form" name="form">
  <mat-form-field appearance="fill">
    <mat-label>Tipo del preventivo</mat-label>
    <mat-select name="tipoPreventivo" [(ngModel)]="this.quoteModelService.tipoPreventivo">
      <mat-option value="O">Ordinario</mat-option>
      <mat-option value="S">Straordinario</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Codice Operatore</mat-label>
    <input matInput name="codiceOperatore" pattern="^.{2}$" [(ngModel)]="this.globalService.userCode" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Nominativo</mat-label>
    <input matInput name="nominativo" maxlength="255" [(ngModel)]="this.quoteModelService.nominativo" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Codice Fiscale Partita Iva</mat-label>
    <input matInput name="cfpi" maxlength="255" [(ngModel)]="this.quoteModelService.cfpi" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Città</mat-label>
    <input matInput name="citta" maxlength="255" [(ngModel)]="this.quoteModelService.citta" />
  </mat-form-field>

  <form id="form" name="form">
    <mat-form-field appearance="fill">
      <mat-label>Selettore prefisso via</mat-label>
      <mat-select name="tipoPreventivo" [(ngModel)]="this.quoteModelService.selettorePrefissoVia">
        <mat-option value="VIA">VIA</mat-option>
        <mat-option value="STRADA">STRADA</mat-option>
        <mat-option value="VIALE">VIALE</mat-option>
        <mat-option value="PIAZZA">PIAZZA</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Via</mat-label>
    <input matInput name="via" maxlength="255" [(ngModel)]="this.quoteModelService.via" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Cap</mat-label>
    <input matInput name="cap" maxlength="255" [(ngModel)]="this.quoteModelService.cap" />
  </mat-form-field>


  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput name="email" maxlength="255" [(ngModel)]="this.quoteModelService.email" />
  </mat-form-field>


  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Telefono</mat-label>
    <input matInput name="telefono" maxlength="255" [(ngModel)]="this.quoteModelService.telefono" />
  </mat-form-field>


  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Referente</mat-label>
    <input matInput name="referente" maxlength="255" [(ngModel)]="this.quoteModelService.referente" />
  </mat-form-field>


  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Descrizione Immobile</mat-label>
    <input matInput name="descrizioneimmobile" maxlength="255" [(ngModel)]="this.quoteModelService.descrizioneImmmobile" />
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <mat-label>Servizi</mat-label>
    <input matInput name="servizi" maxlength="255" [(ngModel)]="this.quoteModelService.servizi[0]" />
  </mat-form-field>

  <mat-form-field *ngIf="this.quoteModelService.tipoPreventivo == 'O'" class="example-full-width">
    <mat-label>Interventi</mat-label>
    <input matInput name="interventi" maxlength="255" [(ngModel)]="this.quoteModelService.interventi[0]" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Servizi</mat-label>
    <input matInput name="servizi" maxlength="255" [(ngModel)]="this.quoteModelService.servizi[1]" />
  </mat-form-field>

  <mat-form-field *ngIf="this.quoteModelService.tipoPreventivo == 'O'" class="example-full-width">
    <mat-label>Interventi</mat-label>
    <input matInput name="interventi" maxlength="255" [(ngModel)]="this.quoteModelService.interventi[1]" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Imponibile</mat-label>
    <input matInput name="imponibile" maxlength="255" [(ngModel)]="this.quoteModelService.imponibile" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Iva</mat-label>
    <input matInput name="iva" maxlength="255" [(ngModel)]="this.quoteModelService.iva" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Pagamento</mat-label>
    <input matInput name="pagamento" maxlength="255" [(ngModel)]="this.quoteModelService.pagamento" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Note</mat-label>
    <input matInput name="note" maxlength="255" [(ngModel)]="this.quoteModelService.note" />
  </mat-form-field>

    </form>
    <button mat-raised-button color="primary" (click)="addQuote()">Salva</button>
</body>
</html>
