<div class="container-fluid py-4">
  <div class="d-flex justify-content-start align-items-center mb-3">
    <button class="btn-back me-3" type="button" (click)="back()">
      &larr; Torna Indietro
    </button>
  </div>

  <h4 class="text-center fw-bold mb-4">Modifica Presenze</h4>

  <!-- Filtri -->
  <div class="d-flex justify-content-center align-items-center gap-3 mb-3">
    <select
      [(ngModel)]="meseSelezionato"
      (change)="cambiaMeseAnno()"
      class="form-select w-auto"
    >
      <option *ngFor="let m of mesi" [value]="m.valore">{{ m.nome }}</option>
    </select>

    <input
      type="number"
      [(ngModel)]="annoSelezionato"
      (change)="cambiaMeseAnno()"
      class="form-control w-auto"
      style="max-width: 100px"
    />
  </div>

  <!-- Spinner -->
  <div *ngIf="loading" class="text-center my-5">
    <div class="spinner-border text-primary"></div>
  </div>

  <!-- Tabella -->
  <div *ngIf="!loading" class="scroll-wrapper">
    <table class="table table-bordered align-middle">
      <thead class="table-light">
        <tr>
          <th>Dipendente</th>
          <th *ngFor="let g of giorni">{{ g }}</th>
          <th>Totale</th>
          <th>Note</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let d of dipendenti">
          <td class="fw-bold">{{ d.nome }}</td>

          <td *ngFor="let g of giorni; let i = index" class="text-center">
            <div style="min-width: 60px">
              <!-- SELECT CATEGORIA -->
              <select
                class="form-select form-select-sm mb-1"
                [(ngModel)]="d.categorie[i]"
                (change)="onCellaChange(d, i)"
              >
                <option value="O">O</option>
                <option value="F">F</option>
                <option value="M">M</option>
                <option value="P">P</option>
                <option value="AI">AI</option>
                <option value="INF">INF</option>
              </select>

              <!-- INPUT ORE -->
              <input
                type="text"
                class="form-control text-center p-0"
                [(ngModel)]="d.ore[i]"
                (ngModelChange)="onCellaChange(d, i)"
                placeholder="Ore"
              />
            </div>
          </td>

          <td class="text-center">{{ d.totale }}</td>

          <td style="min-width: 250px">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="d.note"
              (ngModelChange)="onNotaChange(d)"
              placeholder="Note"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center mt-4">
    <button
      class="btn btn-primary px-5"
      (click)="generaPdf()"
      [disabled]="loading"
    >
      📄 Genera PDF
    </button>
  </div>
</div>
