<mat-toolbar class="example-toolbar">
  <span>Buste Paga</span>
  <span class="example-spacer"></span>
  <div class="indietro">
    <button (click)="back()">Torna Indietro</button>
  </div>
</mat-toolbar>

<div class="content-container">
  <!-- LISTA BUSTE PAGA (sinistra) -->
  <div class="quote-list">
    <mat-list role="list">
      <mat-list-item *ngFor="let payslip of payslips" role="listitem">
        <!-- Seleziona PDF -->
        <button mat-raised-button class="scrolling-button" (click)="selectPayslip(payslip.filename)">
          <span class="scrolling-text">
            {{ payslip.filename }}
          </span>
        </button>

        <!-- Opzionale: pulsante download -->
        <button mat-raised-button (click)="downloadPayslip(payslip.filename)">
          <mat-icon aria-hidden="false" aria-label="Download icon">download</mat-icon>
        </button>

        <button mat-raised-button (click)="deletePayslip(payslip.filename)">
          <mat-icon>delete</mat-icon>
        </button>

        
      </mat-list-item>
    </mat-list>
  </div>

  <!-- VISUALIZZAZIONE PDF (destra) -->
  <ngx-extended-pdf-viewer class="ngx-extended-pdf-viewer"
    [base64Src]="pdfBase64"
    useBrowserLocale="true"
    backgroundColor="#fffff"
    [height]="'100%'"
    [customToolbar]="customToolbar">
  </ngx-extended-pdf-viewer>
</div>

<ng-template #customToolbar>
  <div id="toolbarViewer">
    <pdf-print></pdf-print>
    <pdf-download></pdf-download>
  </div>
</ng-template>
