<div class="fullscreen-container">
  <div class="back-button" (click)="goBack()">
    <i class="fa fa-arrow-left"></i> Indietro
  </div>
  <div [ngClass]="{'day-view-active': currentView === 'day'}">
    <div [ngClass]="{'day-view-week': currentView === 'week'}">
  <dx-scheduler #scheduler
  class="fullscreen-scheduler"
    locale="it"
    timeZone="Europe/Rome"
    id="scheduler"
    [dataSource]="events"
    [views]="['day', 'week', 'month']"
    currentView="month"
    [startDayHour]="5"
    [endDayHour]="22"
    [showAllDayPanel]="false"
    [currentDate]="currentDate"
    [crossScrollingEnabled]="true"
    [cellDuration]="30"
    [height]="1000"
    appointmentTemplate="appointment-template"
    appointmentTooltipTemplate="tooltip-template"
    (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
    (onAppointmentAdding)="onAppointmentAdding($event)"
    (onAppointmentUpdating)="onAppointmentUpdating($event)"
    (onAppointmentDeleting)="onAppointmentDeleting($event)"
    (onOptionChanged)="onCurrentViewChange($event)"
  >
    <dxo-editing [allowAdding]="true"></dxo-editing>

    <dxi-view type="day"></dxi-view>
    <dxi-view type="week"></dxi-view>
    <dxi-view type="month"></dxi-view>

    <div *dxTemplate="let model of 'appointment-template'">
      <div [ngClass]="'category-' + model.appointmentData.categories">
        {{ model.appointmentData.title }}
      </div>
    </div>

    <div *dxTemplate="let model of 'tooltip-template'">
      <div class="tooltip-content">
        <div>{{ model.appointmentData.title }}</div>
        <div>{{ model.appointmentData.description }}</div>
      </div>
    </div>

  </dx-scheduler>
  </div>
  </div>
  </div>
